<html>
    <head>
        <title>Inventory : Add item</title>
        <style>
        body {
                background-color: white;
            }
            hr {
                color: green;
            }
            h1, p {
                color : green;
            }
            a {
                text-decoration: none;
                color: green;
            }
            a:hover {
                color:greenyellow;
            }
            .left_band {
                background-image: url("/static/left.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 20%;
                height: 100%;
                position: fixed;
                top: 0; left: 0;
                margin: 0; padding: 0;
            }
            .right_band {
                background: url("/static/right.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 20%;
                position: fixed;
                height: 100%;
                top: 0; right: 0;
                margin: 0; padding: 0;
            }
            .content {
                text-align: center;
                margin-left: 20%;
                width: 60%;
            }
        </style>
    </head>
    <body>
        <div class="left_band">
        </div>
        <div class="right_band">
        </div>
        <div class="content">
        <h1>Add item to inventory</h1>
        <p>Be careful, adding a new item with an existing GTIN will only modify the existing item GTIN</p>
        <Hr>
        <form method='POST'> {% csrf_token %}

            <ul class="errorlist"><li>This field is required.</li></ul>
            <p><label for="id_gtin">Gtin:</label> <input type="text" name="gtin" maxlength="13" required id="id_gtin"></p>
            <ul class="errorlist"><li>This field is required.</li></ul>
            <p><label for="id_expiry_date">Expiry date:</label> <input type="text" name="expiry_date" required id="id_expiry_date"></p>

            <a href="../"><input type="submit" value="Save" /></a>
        </form>
        <HR>
        <button><a href="../">Back</a></button>
        </div>
    </body>
</html>

